*{
    font-family: "Century Gothic";
}
body{
    margin: 0;
    background-color: #ebe8cc;
}
img{
    width: 100%;
}
nav{
    background-color: #418537;
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0;
}
nav ul li a{
   text-decoration: none;
    padding: 10px;
    border: solid 1px #efecd6;
    margin: 5px;
    border-radius: 20px;
    color: white;
    background-color: #c23d47;
}
.article-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.item{
width: 22%;
box-sizing: border-box;
background-color: #418537;
color: white;
}
.item-div{
    padding: 10px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
section{
    width: 1000px;
    margin: auto;
}
footer{
    margin-top: 20px;
    background-color: #418537;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: white;
    
}
header{
    background-color: #418537;
}

@media screen and (max-width:1000px) {
section{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
 
   }

}
